/**
 * Contains CSS for modifying plugin styles
 */


/* Subscribe to Comments (Subscribe to Comments Reloaded Plugin) */

.comment-form-subscriptions p {
	padding-bottom: 2px;
}

/* Related Posts (Efficient Related Posts plugin) */

ul.related_post {
	list-style: none;
	margin-left: 0;
	font-size: 16px;
	color: #666665;
}
.related_post a {
	text-decoration: none;
	color: black;
	font-weight: 700;
	line-height: 1;
}
.related_post a:hover {
	text-decoration: none;
}
.related_post li {
	margin-bottom: 20px;
}
.related_post li p {
	display: inline;
	font-weight: normal;
	color: #666665;
	font-size: 90%;
}
.related_post_title {
	color: #b3b3b1;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 13px;
	letter-spacing: 1px;
	border-top: 1px solid #eee;
	padding-top: 10px;
	display: inline-block;
	font-family: sans-serif;
}