/**
 * Styles for enhanced comment form
 */

.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-comment label,
.comment-form-subscriptions label,
.comment-form-reply-title {
	margin-right: 5px;
	font-weight: 700;
	font-family: "Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	color: #686868;
	display: block;
	font-size: 16px;
}
.comment-form-reply-title {
	display: none;
}
.comment-form-reply-title p {
	margin-bottom: 0;
}

.comment-form-author,
 .comment-form-email,
 .comment-form-url,
 .comment-form-subscriptions {
	 float: left;
	 width: 50%;
	 min-width: 200px;
 }

.comment-form-author input,
.comment-form-email input,
.comment-form-url input,
.comment-form-subscriptions input {
	width: 90%;
}

.comment-form-comment {
	padding-right: 20px;
}
#commentform input[type="submit"] {
	width: 98%;
}
#commentform #main-reply-title h3 {
	letter-spacing: 0px;
}
#cancel-comment-reply-link {
	font-family: DroidSerif, Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 80%;
	letter-spacing: 0px;
	float: right;
	margin-right: 10px;
}

#commentform textarea {
	padding: 10px;
	margin: 0px;
	font-size: 90%;
	width: 98%;
}

.form-submit {
	clear: both;
}

.icon-comment {
	color: white;
	margin-right: 10px;
}

.entry-meta #share-comment-button {
	text-align: left;
}

#respond {
	text-align: left;
}

#share-comment-button,
#share-comment-button-bottom {
	display: none;
}

@media only screen and (max-width : 500px) {
	.comment-form-author,
	.comment-form-email,
	.comment-form-url,
	.comment-form-subscriptions {
		width: 100%;
	}
}
