 /* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #000000;
	font-size: 16px;
	font-size: 1.6rem;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 1.5;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	line-height: 32px;
	color: white;
	font-size: 15px;
	font-size: 1.5rem;
}

blockquote {
	font-style: italic;
}

blockquote cite {
	color: #999;
	font-size: 80%;
}

dfn, cite, em, i {
	font-style: italic;
}

dt {
	font-weight: bold;
}

b, strong {
	font-weight: bold;
}

pre {
	background: #F2F7F9;
	font: 12px monospace;
	line-height: 1.6;
}

code, kbd, tt, var {
	font: 14px monospace;
	background: #eee;
}

sup,
sub {
	font-size: 75%;
	line-height: 0;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

table {
	font-size: 90%;
}

th {
	font-weight: bold;
}

button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
}

/* =Menu
----------------------------------------------- */

.main-navigation a {
	text-decoration: none;
	font-size: 15px;
	font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
}

/* =Content
----------------------------------------------- */

.enhanced-excerpts .enhanced-excerpt-read-more a {
	text-align: right;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.4em;
	color: #57ad68;
}

.entry-content .subtitle {
	font-style: italic;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.3em;
	line-height: 1.2em;
	letter-spacing: 0;
}

.post-excerpts h1.entry-title,
.enhanced-excerpts h1.entry-title {
	font-size: 1.8em;
}

.post-excerpts .sticky h1.entry-title,
.enhanced-excerpts .sticky h1.entry-title {
	font-size: 2.5em;
}

.enhanced-excerpts .format-standard .entry-meta {
	text-align: left;
}

.show-full-content-first-post h1.entry-title,
.show-full-content-first-post-sticky h1.entry-title {
	font-size: 2.5em;
}

/* =Post Formats
----------------------------------------------- */

.single .format-aside h1.entry-title,
.single .format-quote h1.entry-title,
.single .format-chat h1.entry-title,
.single .format-status h1.entry-title,
.single .format-image h1.entry-title,
.single .format-link h1.entry-title,
.single .format-gallery h1.entry-title {
	font-size: 13px;
	line-height: 21px;
}

.format-aside .entry-format,
.format-quote .entry-format,
.format-chat .entry-format,
.format-status .entry-format,
.format-image .entry-format,
.format-link .entry-format,
.format-gallery .entry-format {
	color: #999;
	font-weight: 300;
}

.format-aside {
	font-style: italic;
}

.format-aside,
.format-quote {
	font-size: 1.3em;
	line-height: 1.4;
}

.format-aside a,
.format-aside a:hover {
	color: inherit;
	text-decoration: none;
}

.format-aside sup, .format-aside .footnotes {
	font-size: 15px;
	font-style: normal;
}

/* =Media
----------------------------------------------- */

.wp-caption-text {
	text-align: center;
	font-size: 80%;
}

.gallery-caption {
	color: #999;
	font-size: 13px;
}

/* =Comments
----------------------------------------------- */

.comments-title {
	text-align: center;
	color: rgb(213, 213, 213);
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 1px;
}

ol.commentlist {
	font-size: 90%;
}

.comment-meta,
.comment-meta a {
	color: #999;
	text-decoration: none;
	font-size: 12px;
}

.comment .reply a {
	font-size: 80%;
}

.comment-author {
	font-weight: bold;
	font-size: 16px;
	line-height: 48px;
}

.comment-author cite {
	font-style: normal;
}

.comment-author .fn a {
	text-decoration: none;
	color: inherit;
}

.pingback > p:before {
	color: #999;
	content: "Ping!";
	font-size: 10px;
}

#commentform textarea {
	font-size: 90%;
}

#pinglist {
	font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
}

.taglist {
	font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
}

.trackback cite, .pingback cite {
	font-style: normal;
}

.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-comment label,
.comment-form-subscriptions label,
.comment-form-reply-title {
	font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
	color: #b3b3b1;
	font-size: 16px;
}

#cancel-comment-reply-link {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 80%;
	letter-spacing: 0px;
}

 .icon-comment {
	 color: white;
	 font-size: 100%;
 }

/* =Widgets
----------------------------------------------- */

.widget_rss .rss-date,
.widget_rss li > cite,
.widget_twitter .timesince {
	color: #999;
	font-size: 12px;
}


/* =Layout
----------------------------------------------- */

body {
	color: #000000;
	font: 1.9em Georgia, "Times New Roman", Times, serif;
	line-height: 1.5;
}

 .site {
	 max-width: 700px;
 }

 .site-content,
 .site-footer {
	 max-width: 700px;
 }

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
	color: #333332;
	letter-spacing: -1px;
	font-weight: 700;
	line-height: 1;
}

.entry-meta,
.entry-meta a {
	color: #b3b3b1;
	font-size: 13px;
	font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-style: normal;
}

.entry-meta a:hover {
	color: #57ad68;
}

.widget-area {
	text-align: right;
	font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.site-info {
	font-family: sans-serif;
	font-weight: 100;
}

.site-title {
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: inherit;
}

.site-description {
	color: rgba(117, 117, 117, 0.78);
	font-size: 13px;
	font-family: inherit;
	line-height: 1.4;
	font-style: italic;
	letter-spacing: inherit;
	font-weight: inherit;
}

.site-published {
	color: #333332;
	font-size: 14px;
	line-height: 1.4;
	font-style: normal;
	font-weight: bold;
	letter-spacing: inherit;
}

.site-published-date {
	color: rgba(117, 117, 117, 0.78);
	font-size: 12px;
	font-family: inherit;
	line-height: 2;
	letter-spacing: inherit;
	font-weight: inherit;
	font-style: normal;
}

.site-published-date a, .site-published-location a {
	color: rgba(117, 117, 117, 0.78);
	text-decoration: none;
}

.site-published-location {
	color: rgba(117, 117, 117, 0.78);
	font-size: 12px;
	font-family: inherit;
	line-height: 1.4;
	font-style: normal;
	letter-spacing: inherit;
	font-weight: inherit;
}

.widget-area .widget-title {
	font-size: 16px;
	letter-spacing: inherit;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.3em;
}

h6 {
	font-size: 1.2em;
}

.entry-content h1 {
	font-size: 2.1em;
}

.entry-title a {
	color: #404040;
	text-decoration: none;
}

.entry-title a:hover {
	color: #57ad68;
}

.entry-title-meta {
	font-size: 13px;
	color: #b3b3b1;
	font-weight: 100;
	letter-spacing: 1px;
	font-style: normal;
}

.entry-title-meta a {
	color: #b3b3b1;
	text-decoration: none;
}

.site-footer {
	color: #999;
}

.site-footer,
.site-footer a {
	font-size: 13px;
	text-align: center;
}

.site-footer a:hover {
	color: #57ad68;
}

.post-author-bottom h1.site-title {
	font-style: normal;
}

@media only screen and (max-width: 1200px) {
	#masthead .site-title {
		font-size: 24px;
		font-style: normal;
	}
}

@media only screen and (max-width: 500px) {
	.entry-content,
	#comments {
		font-size: 18px;
		line-height: 1.4;
		width: 100%;
	}

	h1.entry-title {
		font-size: 1.8em;
	}

	.entry-content h1 {
		font-size: 1.7em;
	}

	.entry-content h2 {
		font-size: 1.6em;
	}

	.entry-content h3 {
		font-size: 1.5em;
	}

	.entry-content h4 {
		font-size: 1.4em;
	}

	.entry-content h5 {
		font-size: 1.3em;
	}

	.entry-content h6 {
		font-size: 1.2em;
	}

	#masthead {
		text-align: center;
	}

	.format-aside .entry-content {
		font-size: 1em;
		line-height: 36px;
	}

	.single .entry-meta {
		text-align: center;
	}

	.post-author-bottom {
		text-align: center;
	}

	.post-author-bottom .site-title {
		font-size: 24px;
		line-height: 2.2;
	}

	.entry-content .subtitle {
		font-size: 1.2em;
	}

	.entry-meta #share-comment-button {
		text-align: center;
	}
}

/* Footnotes
----------------------------------------------- */

.footnotes,
.blog .show-full-content-first-post .footnotes,
.blog .show-full-content-first-post-sticky .footnotes {
	font-size: 80%;
}